@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap');

/*-------------
 banner section 
 ---------------*/
.banner-container{
    background-color: black;
    width: 1320px;
    margin: 50px auto 100px;
    padding: 30px 0 0 0;
    border-radius: 30px;
    display: flex;
}
.title-box{
    color: white;
    padding-left: 80px;
    justify-content: center;
    flex-direction: column;
}
.banner-image img {
    width: 150%;
    position: relative;
    top: 4px;
    padding-left: 80px;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
    font-weight: 700;
}
p {
    font-size: 13px;
}
.watch-link{
    text-decoration: none;
    font-size: 1em;
    background-image: linear-gradient(red, #ff4322);
    border-radius: 5px;
    padding: 11px 25px;
    color: white;
}
/*-----------
 blog section 
 ------------*/
 .container{
    display: flex;
    margin: 0 auto 100px;
 }
 .btn_Container{
    display: flex;
    width:300px;
 }
.btn-link{
    background-color: black;
    width: 350px;
    height: 300px;
    border-radius: 15px;
    padding:6px;
}
.blog-part{
    margin: 30px;
    width: 180px;
    padding: 15px 15px;
    text-align: center;
    border-radius: 10px;
    background-color: white;
}
.blog-part a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 500 ;
}
.active-part{
    background-color:red;
}
.blog {
    display: flex;
    flex-direction: column;
    width: 312px;
    border: 1px solid #e8e8e8;
    border-radius: 10px;
}
.blogs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 24px;
    color: #00465a;
    padding-left: 24px;
}
.blog-details {
    padding: 0 20px;
}
.blog-info {
    display: flex;
    margin-bottom: 20px;
}
.fa-rocketchat{
    margin-left: 20px;
}

/* -----
footer section
----- */

li {
    list-style: none;
}

nav ul li {
    text-decoration: none;
    padding: 30px;
    font-size: 15px;
}

nav>ul {
    display: flex;
    margin-left: 150px;
}

footer hr {
    border: 1px solid #555252;
    margin-left: 15%;
    margin-right: 15%;
}

a {
    text-decoration: none;
    color: aliceblue;
}

footer {
    background-color: black;
    color: #ffffffe8;
    height: 280px;
    font-weight: 300;
    text-align: center;
    padding-top: 97px;
}
.social-media {
    display: flex;
    justify-content: space-evenly;
}
